<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0"
          package="CameraScanner.CameraScanner">
  <!--Agregamos al Manifest los permisos de camara y escritura en memoria de dispositivo-->
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!--*********************************************************************************-->

  <!--Versiones de la app entre 5.0 Lollipop y 8.1 Oreo-->
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
  <!--*********************************************************************************-->

  <!--Tamaños de pantalla soportados-->
  <supports-screens
  android:resizeable="true"
  android:smallScreens="true"
  android:normalScreens="true"
  android:largeScreens="true"
  android:xlargeScreens="true"/>
  <!--*********************************************************************************-->
  
  <application android:allowBackup="true" android:icon="@drawable/scanner" android:label="@string/app_name" android:roundIcon="@drawable/scanner_redondo" android:supportsRtl="true" android:theme="@style/AppTheme">
  </application>
</manifest>
